@import "tailwindcss";
@layer utilities {
    .clip-trapezoid {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
    }
  }
  

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}